version: '3.9'

services:
  investflowcaixa-api:
    image: investflowcaixa-api:latest
    container_name: investflowcaixa-api
    build:
      context: .
      dockerfile: InvestFlowCaixa.Api/Dockerfile
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: "Server=host.docker.internal;Database=InvestFlowCaixaDb;User Id=sa;Password=SenhaForte123;TrustServerCertificate=True;"

    extra_hosts:
      - "host.docker.internal:host-gateway"
